/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html, body {
    height: 100%;
}

.hide {
    position: absolute;
    top: -99999999px;
    left: -99999999px;
}

/*
    =================
    Typography
    =================
*/
body {
    font-family: 'Raleway', sans-serif ;
    color: #555;
}

.underline {
    text-decoration: underline;
}

h1 {
    font-size: 200%;
    font-weight: 500;
}

/*
    =================
    Grid
    =================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

.centre {
    margin: 0 auto;
}

/*
    =================
    Section Stuff
    =================
*/

.dark {
    background-color: #565656;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.light {
    background-color: #d5d5d5;
    padding-top: 30px;
    padding-bottom: 30px;
}

section h1 {
    padding-bottom: 10px;
}

section p {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
}

/*
    =================
    Intro section
    =================
*/

#intro {
    display: table;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
    background-image: url("../img/intro-bg.png");
}

#intro div.container {
    display: table-cell;
    vertical-align: middle;
}

#intro div.container h1, h4 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 500;
}

#intro div.container h1 {
    font-size: 350%;
}

#intro div.container h4 {
    font-size: 150%;
}

#introButton {
    width: 40%;
    margin: 0 auto;
    display: block;
    background: rgba(80,80,80,0.5);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

div.block {
    width: 30%;
    float: left;
}

/*
    =================
    Tabs
    =================
*/

.tab-container ul li {
    display: inline-block;
    list-style: none;
}